
<html>
<head>
    <title>5c shuffle</title>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='shufflestyles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='component.css') }}">
    <script type="text/javascript" src="//use.typekit.net/rht7nvt.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script src ="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="../../../../static/isotope2.js"></script>
  <script src="http://fgnass.github.io/spin.js/dist/spin.js"></script>
  <script src=" {{ url_for('static', filename='jquery.lettering-0.6.1.min.js') }}"></script>
    <script src=" {{ url_for('static', filename='update.js') }}"></script>

</head>
<body>
    <script>
  $(document).ready(function() {
    $("#logo").lettering();
    $("#logo2").lettering();
    $("#main-logo").lettering();

  });
</script>
<div id="fb-root" ></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div style="color:#FFFFFF; position: absolute; float:left; vertical-align: right; z-index: 100;" class="fb-like" data-href="http://www.pomonashuffle.com" data-send="true" data-width="450" data-show-faces="true" data-font="arial" ></div>
  <div class="container">
    <div class="row">
      <span class="col-md-2">
        
      </span>
      <span class="col-md-8">
        <h1 style="text-align: center; display: none;" onclick="createCards()"id="main-logo">PS</h1>
      </span>
      <span class="col-md-2 pull-right">
        <!-- <div class="whatisthis"><a class="fancybox" style="font-family:Helvetica, Arial; color:#fff;" href='#inline1' title="Hit 'esc' or click close to get started!">WHAT IS THIS?</a></div> -->

      </span>


    </div>

    <div class="row">
      <span id="col-md-12" style="text-align:center;">
         <!--  <div id="welcome">
        
          
            <div class="fancy-title">

              <h1 id="logo">Pomona</h1>
              <h1 id="logo2"> Shuffle</h1>
            </div>
            <div id="moreInfo" style="margin-top: 20%;" >
              <a  onclick="createCards()" class="btn btn-2 btn-2a scroll">Get Started</a> 
            <div>
              <div><h2 style="text-align: center;">Pomona Shuffle helps you explore the course catalog.  To get started, press the <span class="spacebar"> spacebar</span>
                </h2>

              </div>

            </div>
             
            </div>
            
         

        </div> -->

        <div class='deck'>
    
      <div class='card ' id='box0'>
        <div class='subcard '>
        <div class="cardNumber">1</div>
        <div style="width: 100%; background-color: #015C65; border-top-right-radius: 15px;
-moz-border-radius-topright: 15px;"> <h1 class="classTitle" style="text-align:center;"> Badminton</h1> </div>
        <h3 style="position: relative; text-align:center;">PE48 &#151 Boston, Tony D. (PO)</h3>
        <p style="position: absolute; left: 10px; right:10px;"></p>
      </div>
      </div>
    
      <div class='card ' id='box1'>
        <div class='subcard '>
        <div class="cardNumber">2</div>
        <div style="width: 100%; background-color: #015C65; border-top-right-radius: 15px;
-moz-border-radius-topright: 15px;"> <h1 class="classTitle" style="text-align:center;"> Digital Elec &amp; Comp Engineering</h1> </div>
        <h3 style="position: relative; text-align:center;">ENGR85 &#151 Spjut, Josef B. (HMC)</h3>
        <p style="position: absolute; left: 10px; right:10px;">This course provides an introduction to elements of digital electronics, followed by an introduction to digital computers. Topics in digital electronics include: Boolean algebra; combinational logic; sequential logic; finite state machines; transistor-level implementations; computer arithmetic; and transmission lines. The computer engineering portion of the course includes computer architecture and microarchitecture: levels of abstraction; assembly-language programming; and memory systems. The digital electronics portion of E85 may be taken by non-engineering majors as a stand-alone half course under the number E85A. 3 credit hours.</p>
      </div>
      </div>
    
      <div class='card ' id='box2'>
        <div class='subcard '>
        <div class="cardNumber">3</div>
        <div style="width: 100%; background-color: #015C65; border-top-right-radius: 15px;
-moz-border-radius-topright: 15px;"> <h1 class="classTitle" style="text-align:center;"> Soccer Team-Women</h1> </div>
        <h3 style="position: relative; text-align:center;">PE140 &#151 Sanchez, Keri (None)</h3>
        <p style="position: absolute; left: 10px; right:10px;"></p>
      </div>
      </div>
    
      <div class='card ' id='box0'>
        <div class='subcard '>
        <div class="cardNumber">4</div>
        <div style="width: 100%; background-color: #015C65; border-top-right-radius: 15px;
-moz-border-radius-topright: 15px;"> <h1 class="classTitle" style="text-align:center;"> Chemical Reaction Engineering</h1> </div>
        <h3 style="position: relative; text-align:center;">ENGR133 &#151 Cheung, Perry (HMC)</h3>
        <p style="position: absolute; left: 10px; right:10px;">The fundamentals of chemical reactor engineering: chemical reaction kinetics, interpretation of experimental rate data, design of batch and continuous reactors for single and multiple reactions including temperature and pressure effects, and the importance of safety considerations in reactor design. (Every other year; Fall) </p>
      </div>
      </div>
    
      <div class='card ' id='box1'>
        <div class='subcard '>
        <div class="cardNumber">5</div>
        <div style="width: 100%; background-color: #015C65; border-top-right-radius: 15px;
-moz-border-radius-topright: 15px;"> <h1 class="classTitle" style="text-align:center;"> Public Speaking</h1> </div>
        <h3 style="position: relative; text-align:center;">MLLC111 &#151 Herman, Leah (PZ)</h3>
        <p style="position: absolute; left: 10px; right:10px;">Through readings, lectures, films and field study in the social sciences, students will explore contemporary global issues as the content base for developing proficiency in American academic speech behavior. Skills emphasized will include making formal presentations, leading and participating in discussions and sustaining narration on a range of topics. Letter grades only. Written permission required.</p>
      </div>
      </div>
    
      <div class='card ' id='box2'>
        <div class='subcard '>
        <div class="cardNumber">6</div>
        <div style="width: 100%; background-color: #015C65; border-top-right-radius: 15px;
-moz-border-radius-topright: 15px;"> <h1 class="classTitle" style="text-align:center;"> Intro to Latin-American Cultures</h1> </div>
        <h3 style="position: relative; text-align:center;">HIST95 &#151 Sarzynski, Sarah R. (CMC)</h3>
        <p style="position: absolute; left: 10px; right:10px;">This course is an introductory survey of the histories and cultures of Latin America, focusing on struggles for power between elite and popular groups from pre-1492 to the present day. It is divided in four broad sections: The encounter between Europeans and Indigenous peoples and structures of Colonial society; Latin American Independence and the meanings of independence for slaves, women, and others not considered full citizens of emerging nations; Twentieth century nationalisms, revolutions and dictatorships; and, contemporary social movements and politics in Latin America. This is a writing-intensive course geared toward Freshmen and Sophomores. </p>
      </div>
      </div>
    
      <div class='card ' id='box0'>
        <div class='subcard '>
        <div class="cardNumber">7</div>
        <div style="width: 100%; background-color: #015C65; border-top-right-radius: 15px;
-moz-border-radius-topright: 15px;"> <h1 class="classTitle" style="text-align:center;"> Advanced Laboratory</h1> </div>
        <h3 style="position: relative; text-align:center;">PHYS181 &#151 Haskell, Richard C. (HMC)</h3>
        <p style="position: absolute; left: 10px; right:10px;">Experiments are selected from the fields of nuclear and solid-state physics, utilizing multichannel and time coincidence nuclear instrumentation and x-ray, optical spectrophotometer and thermoluminescent observations of the properties of solids. Prerequisite: Physics 134. (Fall) </p>
      </div>
      </div>
    
      <div class='card ' id='box1'>
        <div class='subcard '>
        <div class="cardNumber">8</div>
        <div style="width: 100%; background-color: #015C65; border-top-right-radius: 15px;
-moz-border-radius-topright: 15px;"> <h1 class="classTitle" style="text-align:center;"> Environmental History</h1> </div>
        <h3 style="position: relative; text-align:center;">HIST16 &#151 Wakefield, Andre (PZ)</h3>
        <p style="position: absolute; left: 10px; right:10px;">For some, environmental history recounts humanity?s long encounter with nature; for others, it is the changing story of the land itself; for still others, it is an account of humanity?s changing ideas about nature and wilderness. In this course we will familiarize ourselves with all of these approaches. The course, which is global in scope, surveys materials from the past five centuries. Major themes include: the history of globalization and industrialization, ecological imperialism, the history of ecology, the idea of wilderness, science and environment and global environmental change.</p>
      </div>
      </div>
    
      <div class='card ' id='box2'>
        <div class='subcard '>
        <div class="cardNumber">9</div>
        <div style="width: 100%; background-color: #015C65; border-top-right-radius: 15px;
-moz-border-radius-topright: 15px;"> <h1 class="classTitle" style="text-align:center;"> Comparative Politics of Africa</h1> </div>
        <h3 style="position: relative; text-align:center;">POLI162 &#151 Englebert, Pierre (PO)</h3>
        <p style="position: absolute; left: 10px; right:10px;">Comparative Politics of Africa. Surveys the main political issues facing contemporary African states, including poverty, instability, ethnicity, class conflicts, integration in the world economy, corruption, authoritarianism, democratization and reversion to authoritarianism, state collapse, social disengagement, structural adjustment and relations with former colonial powers. Emphasizes historical and structural determinants.</p>
      </div>
      </div>
    
      <div class='card ' id='box0'>
        <div class='subcard '>
        <div class="cardNumber">10</div>
        <div style="width: 100%; background-color: #015C65; border-top-right-radius: 15px;
-moz-border-radius-topright: 15px;"> <h1 class="classTitle" style="text-align:center;"> Intro to Mathematical Physiology</h1> </div>
        <h3 style="position: relative; text-align:center;">BIOL133 &#151 Milton, John G. (None)</h3>
        <p style="position: absolute; left: 10px; right:10px;">This course concerns the mathematical analysis of biological oscillators, excitable media, and feedback control. Predictions from models will be compared to observations.  Information developed in the course will be used to design dynamic therapeutic strategies.  Computer skills sufficient to explore dynamical systems will be developed in the laboratory.  Prerequisites:  calculus and linear algebra or permission of the instructor.  Students will need a laptop computer with Internet access.  Students who do not have a laptop computer should see the instructor for other options. Offered every fall. </p>
      </div>
      </div>
    
      <div class='card ' id='box1'>
        <div class='subcard '>
        <div class="cardNumber">11</div>
        <div style="width: 100%; background-color: #015C65; border-top-right-radius: 15px;
-moz-border-radius-topright: 15px;"> <h1 class="classTitle" style="text-align:center;"> Italian Baroque Art</h1> </div>
        <h3 style="position: relative; text-align:center;">ARHI174 &#151 Gorse, George L. (PO)</h3>
        <p style="position: absolute; left: 10px; right:10px;">Italian Baroque Art. Painting, sculpture and architecture in Italy, 1600-1750. Rome and the development of the Baroque style in the works of Caravaggio, the Carracci, Gentileschi, Bernini, Borromini and Pietro da Cortona. Church and social history as background. Spring 2007.&#34;</p>
      </div>
      </div>
    
      <div class='card ' id='box2'>
        <div class='subcard '>
        <div class="cardNumber">12</div>
        <div style="width: 100%; background-color: #015C65; border-top-right-radius: 15px;
-moz-border-radius-topright: 15px;"> <h1 class="classTitle" style="text-align:center;"> Civil Liberties/Fundamntl Rights</h1> </div>
        <h3 style="position: relative; text-align:center;">POLI143 &#151 Golub, Mark (SC)</h3>
        <p style="position: absolute; left: 10px; right:10px;">While civil liberties protect the individual from coercive power by outlining what the government must not do, civil rights protect the individual from coercive power by obligating the government to take positive action.  This course examines civil liberties and civil rights in American public law and jurisprudence.   </p>
      </div>
      </div>
    
      <div class='card ' id='box0'>
        <div class='subcard '>
        <div class="cardNumber">13</div>
        <div style="width: 100%; background-color: #015C65; border-top-right-radius: 15px;
-moz-border-radius-topright: 15px;"> <h1 class="classTitle" style="text-align:center;"> Intensive Introductory Spanish</h1> </div>
        <h3 style="position: relative; text-align:center;">SPAN22 &#151 Reyes, Andrea H. (CMC)</h3>
        <p style="position: absolute; left: 10px; right:10px;">Designed for beginning students with some basic knowledge of the language, who are too advanced for Spanish 1, but do not yet qualify for Spanish 33. Students will complete in one semester the equivalent of Spanish 1 and 2. Includes laboratory work and tutorial sessions (times arranged). Placement test required. </p>
      </div>
      </div>
    
  </div>
  </div>
      </span>

    </div>

  </div>
   
 
  
  
  <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>



    <div id="container" style="margin-top: 15px" class="clickable clearfix container">            
<!--   <div class='deck'>
    {% for i in range(0,length) %}
      <div class='card ' id='box{{ i % 3 }}'>
        <div class='subcard {{course_list[i]['favorite']}}'>
        <div class="cardNumber">{{i+1}}</div>
        <div class="header-info"> <h1 class="classTitle">{{course_list[i]['name']}}</h1> </div>
        <h3 id="info">{{course_list[i]["major"]}}{{course_list[i]['number']}} &#151 {{course_list[i]['teacher']}} ({{course_list[i]["school"]}})</h3>
        <p id="description">{{course_list[i]['description']}}</p>
      </div>
      </div>
    {% endfor %}
  </div> -->
  </div>
  
  <div id="inline1" style="width:400px;display:none;">
      <h3>The Pomona Shuffle</h3>
    <p style="color: #000;  ">
      The Pomona Shuffle is an interactive class-finder for the eager, wise, and slightly area-deficient Sagehen. Pressing space brings up ten new courses currently offered (Fall 2013) for you to peruse at yoru leisure! </br></br>

      Pomona Shuffle is currently displaying all 1500 courses available to all students at the 5Cs. Come back next semester for more updates!</br></br>

      Email PomonaShuffle@gmail.com with any questions/concerns you may have!</br></br>

      Designed by Aloke Desai '16, Hong Suh '16, Mauricio Molina '15, and Ryan Luo '16.
    </p>
  </div>
  <div id="large"></div>
  <div id="background"></div>
  
    <script>
    $(function(){
      
      var $container = $('.deck');
      
      // add randomish size classes
      $(".card:first").addClass("large");
      $container.isotope('reLayout');
      
      $container.isotope({
        itemSelector: '.card',
        masonry : {
          columnWidth : 90
        }
      });
      
      
      // change size of clicked element
      $container.delegate( '.card', 'click', function(){
        $(this).toggleClass('large');
        $container.isotope('reLayout');
      });

      // toggle variable sizes of all elements
      $('#toggle-sizes').find('a').click(function(){
        $container
          .toggleClass('variable-sizes')
          .isotope('reLayout');
        return false;
      });

      
    });  
    // var keyNavigationDisabled = false;
    // var opts = {
    //   lines: 13, // The number of lines to draw
    //   length: 15, // The length of each line
    //   width: 4, // The line thickness
    //   radius: 10, // The radius of the inner circle
    //   corners: 1, // Corner roundness (0..1)
    //   rotate: 0, // The rotation offset
    //   color: '#fff', // #rgb or #rrggbb
    //   speed: 1, // Rounds per second
    //   trail: 60, // Afterglow percentage
    //   shadow: true, // Whether to render a shadow
    //   hwaccel: false, // Whether to use hardware acceleration
    //   className: 'spinner', // The CSS class to assign to the spinner
    //   zIndex: 2e9, // The z-index (defaults to 2000000000)
    //   top: 'auto', // Top position relative to parent in px
    //   left: 'auto' // Left position relative to parent in px
    // };
    // var target = document.getElementById('container');
    // var spinner = new Spinner(opts);

    // function createCards() {
    //   keyNavigationDisabled = true;
    //    if($('#welcome').is(':visible')){
    //                   $('#welcome').hide();
    //                   $("#main-logo").fadeIn(1300);
    //                 }

    //                 $("#container").empty();
    //                 $(".card").remove();
    //                 $(".large").remove();
    //                 $("#container").isotope("destroy");
    //                 $("#container").removeClass("isotope");
    //                 $("#container").append("<div class='deck'></div>")

    //                 console.log("inside function");
                    
    //                 spinner.spin(target);
    //                 $.getJSON($SCRIPT_ROOT + '/_add_numbers',function(data) {
                      
    //                    spinner.stop();
    //                   for (i=0; i < data["res"].length; i++) {
                       
                      
    //                    $(".deck").append("<div class='card' id='box" + Math.floor((Math.random()*6))+ "'><div class='cardNumber'>" + (i+1) + "</div><div class='header-info'><h1 class='classTitle'>" + data["res"][i]["name"] +"</h1></div><h3 id='info'>" + data["res"][i]["major"] + data["res"][i]["number"] + "&#151" + data["res"][i]["teacher"] + " " + data["res"][i]["school"] + "</h3><p id='description'>" + data["res"][i]["description"] + "</p></div>");
    //                   }
    //                   update();
                      
                      
    //                 });
    //                 return false;

    //               }



    //  // $(isotope());

    // $(function(){
    //     var execute = true
    //     $('.fancybox').mouseenter(function(){
    //     $('div a.fancybox').css('color','#CCC');
    //   });
    //   $('.fancybox').mouseleave(function(){
    //     $('div a.fancybox').css('color','#fff');
    //   });
    //   $(".fancybox").click(function(){

    //           $("#background").css({"opacity" : "0.6",'position' : 'absolute','z-index' : '9998'})
    //                         .fadeIn("slow");

    //           $("#inline1").css({'opacity' : '1','z-index' : '9999'}).center().fadeIn('slow');

    //           return false;
    //       });

    //   $(document).keypress(function(e){
    //               if(e.keyCode==27){
    //                   $("#background").fadeOut("slow");
    //                   $("#large").fadeOut("slow");
    //               }
    //               if(e.which==32){
    //                 if (keyNavigationDisabled) return;
    //                 createCards();
    //           }

    //       $("#background").click(function(){
    //           $("#background").fadeOut("slow");
    //           $("#inline1").fadeOut("slow");
    //       });

    //       $("#large").click(function(){
    //           $("#background").fadeOut("slow");
    //           $("#inline1").fadeOut("slow");
    //       });

    // });
    // }); 
    </script>
   

</body>

</html>
