
<html>
<head>
    <title>5c shuffle</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='shufflestyles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='component.css') }}">
    <script type="text/javascript" src="//use.typekit.net/rht7nvt.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script src ="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="../../../../static/isotope2.js"></script>
  <script src=" {{ url_for('static', filename='spinner.js') }}"></script>
  <script src=" {{ url_for('static', filename='jquery.lettering-0.6.1.min.js') }}"></script>
    <script src=" {{ url_for('static', filename='update.js') }}"></script>

</head>
<body>
    <script>
  $(document).ready(function() {
    $("#logo").lettering();
    $("#logo2").lettering();
    $("#main-logo").lettering();

  });
</script>
<div id="fb-root" ></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div style="color:#FFFFFF; position: absolute; float:left; vertical-align: right; z-index: 100;" class="fb-like" data-href="http://www.pomonashuffle.com" data-send="true" data-width="450" data-show-faces="true" data-font="arial" ></div>
  <div class="container">
    <div class="row">
      <span class="col-md-2">
        
      </span>
      <span class="col-md-8">
        <h1 style="text-align: center; display: none;" onclick="logoCall()" id="main-logo">PS</h1>
      </span>
      <span class="col-md-2 pull-right">
        <!-- <div class="whatisthis"><a class="fancybox" style="font-family:Helvetica, Arial; color:#fff;" href='#inline1' title="Hit 'esc' or click close to get started!">WHAT IS THIS?</a></div> -->

      </span>


    </div>

    <div class="row">
      <span id="col-md-12" style="text-align:center;">
          <div id="welcome">
        
          
            <div class="fancy-title">

              <h1 id="logo">Pomona</h1>
              <h1 id="logo2"> Shuffle</h1>
            </div>
            <div id="moreInfo" style="margin-top: 20%;" >
              <script type="text/javascript">
               

              </script>
              <a  onclick="logoCall" class="btn btn-2 btn-2a scroll">Get Started</a> 
            <div>
              <div><h2 style="text-align: center;">Pomona Shuffle helps you explore the course catalog.  To get started, press the <span class="spacebar"> spacebar</span>
                </h2>

              </div>

            </div>
             
            </div>
            
         

        </div>

      </span>

    </div>

  </div>
   
 
  
  
  <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>



    <div id="container" style="margin-top: 15px" class="clickable clearfix container">            

  </div>
  
  <div id="inline1" style="width:400px;display:none;">
      <h3>The Pomona Shuffle</h3>
    <p style="color: #000;  ">
      The Pomona Shuffle is an interactive class-finder for the eager, wise, and slightly area-deficient Sagehen. Pressing space brings up ten new courses currently offered (Fall 2013) for you to peruse at yoru leisure! </br></br>

      Pomona Shuffle is currently displaying all 1500 courses available to all students at the 5Cs. Come back next semester for more updates!</br></br>

      Email PomonaShuffle@gmail.com with any questions/concerns you may have!</br></br>

      Designed by Aloke Desai '16, Hong Suh '16, Mauricio Molina '15, and Ryan Luo '16.
    </p>
  </div>
  <div id="large"></div>
  <div id="background"></div>
  
    <script>
     
    var keyNavigationDisabled = false;
     function logoCall() {
                  if (keyNavigationDisabled) return;
                  createCards();
                }
    var opts = {
      lines: 13, // The number of lines to draw
      length: 15, // The length of each line
      width: 4, // The line thickness
      radius: 10, // The radius of the inner circle
      corners: 1, // Corner roundness (0..1)
      rotate: 0, // The rotation offset
      color: '#fff', // #rgb or #rrggbb
      speed: 1, // Rounds per second
      trail: 60, // Afterglow percentage
      shadow: true, // Whether to render a shadow
      hwaccel: false, // Whether to use hardware acceleration
      className: 'spinner', // The CSS class to assign to the spinner
      zIndex: 2e9, // The z-index (defaults to 2000000000)
      top: 'auto', // Top position relative to parent in px
      left: 'auto' // Left position relative to parent in px
    };
    var target = document.getElementById('container');
    var spinner = new Spinner(opts);

    function createCards() {
      keyNavigationDisabled = true;
       if($('#welcome').is(':visible')){
                      $('#welcome').hide();
                      $("#main-logo").fadeIn(1300);
                    }

                    $("#container").empty();
                    $(".card").remove();
                    $(".large").remove();
                    $("#container").isotope("destroy");
                    $("#container").removeClass("isotope");
                    $("#container").append("<div class='deck'></div>")

                    console.log("inside function");
                    
                    spinner.spin(target);
                    $.getJSON($SCRIPT_ROOT + '/_add_numbers',function(data) {
                      
                       spinner.stop();
                      for (i=0; i < data["res"].length; i++) {
                       
                      
                       $(".deck").append("<div class='card' id='box" + Math.floor((Math.random()*5))+ "'><div class='cardNumber'>" + (i+1) + "</div><div class='header-info'><h1 class='classTitle'>" + data["res"][i]["major"] + data["res"][i]["number"] +"</h1></div><div class='box_content'><div id='info'>" + data["res"][i]["name"] +"</div>" + "<div class='school'>" + data["res"][i]["teacher"] +  "<br>" + data["res"][i]["time"] + "</div>" + "<p id='description'>" + data["res"][i]["description"] + "</p></div></div>");
                      }
                      update();
                      
                      
                    });
                    return false;

                  }



     // $(isotope());

    $(function(){
        var execute = true


      $(document).keypress(function(e){
                  if(e.keyCode==27){
                      $("#background").fadeOut("slow");
                      $("#large").fadeOut("slow");
                  }
                  if(e.which==32){
                    if (keyNavigationDisabled) return;
                    createCards();


              }

          $("#background").click(function(){
              $("#background").fadeOut("slow");
              $("#inline1").fadeOut("slow");
          });

          $("#large").click(function(){
              $("#background").fadeOut("slow");
              $("#inline1").fadeOut("slow");
          });

    });
    }); 
    </script>
   

</body>

</html>
